[2015-10-04 22:48] RebeccaDeField opened #1 "Beat and Bassline Editor"
The way that the beat and bassline editor scales when a user expands the window is by stretching the graphics to fit. This causes the graphics to look pixelized because they are being stretched further than they were designed to be. I discussed this problem and some solutions here --> https://github.com/LMMS/lmms/issues/880#issuecomment-139910799

Instead of stretching, a splice of the center coul

[2015-10-05 06:28] RebeccaDeField opened #2 "Song Editor Grid"
Digitizer and I have noticed that not all of the grids are consistant. For example, the song editor has an embossed stroke on the grid whereas other areas of the program have just a solid stroke style. We think that we should stick with just a solid grid that has good contast with the background, without being so bright that it is distracting for users.

I've @mentioned the coders that have volunt

[2015-10-11 19:35] RebeccaDeField opened #3 "Menu Color Is Linked To Knob LED Color"
When we updated the LED for the knobs to be green, it also affected the menu. We need to seperate these color so that the menu can be white like the rest of the theme.

I've @mentioned the coders that have volunteered to assist with coding for this theme. I know you're all busy, but if you have time, I would really appreciate some assistance on this.

@Umcaruje
@tresf
@diizy
@Sti2nd

[2015-10-11 19:37] RebeccaDeField opened #4 "Change The Colors"
Some of the colors need to be updated to match the Wiki tutorials on LMMS so no that we can avoid any confusion.

[2015-10-11 19:41] RebeccaDeField opened #5 "Research Ways To Change The Window Borders"
LMMS is built using Qt and and it uses Qt's QMdiArea. Every window inside LMMS is a QMdiSubwindow, and they are not themeable using CSS. Their look is hard-coded in the Qt settings for your PC.

A solution someone mentioned would be to actually render frameless windows and then draw a custom titlebar on top of them.

It was also mentioned that @Wallacoloo has already modified the QMdiSubWindow to

[2015-10-11 22:29] RebeccaDeField opened #6 "Clean-Up And Delete Unused Icons..."
We need to delete the icons that are no longer in use. I know that the `Freeze` icon is no longer being used, but I'm asumming there are several others that are still in the icons folder.

These have not been deleted already, I'm not sure if there is a reason why, so I didn't want to go ahead and start deleting things. If there is not a reason for this, then I just need to know the names of the ic

[2015-10-29 09:15] Umcaruje commented on #5
Yup, that's pretty much the only solution. I guess this issue could also be suitable for the main issue tracker, since you'll get a lot more replies there, and its more of a general LMMS issue than a specific theme issue.

[2015-10-29 09:20] Umcaruje commented on #3
Can you please name the specific CSS property you want split, and what should the new CSS property be called and what parts of the program it should affect.

[2015-10-29 09:38] Wallacoloo commented on #5
Oops, I missed this message the first time around - sorry. I don't have a
clear idea on how custom window borders would be handled in Qt. I just work
on the principle of trial and error when it comes to anything Qt :/

[2015-10-29 12:34] tresf commented on #6
Please go ahead and start deleting things that are known to not be in use.  Leftover cruft is a mistake. :+1:

In regards to coding, @Sti2nd and @diizy haven't been extremely active lately and myself and @Umcaruje are quite busy, so it may take some time for some of these items.

Last, I really don't like doing this on @HDDigitizerMusic's repo.  He left the project high and dry on several items an

[2015-10-30 02:17] RebeccaDeField commented on #6
@tresf  I understand you guys are busy, so no pressure. I just wanted to get these in front of the people that want to help so that you can when you have time.

As for working with Digitizer, it's too bad that you feel that way. I have been working very closely with him the whole time. He has made huge contributions to this theme, he was the one who came up with the idea in the first place, and I

[2015-10-30 02:36] tresf commented on #6
I'd rather not use the internet as a public location to stir up the past, but this is not personal.  He didn't finish his work, so I'm not sure what that statement is in regards to.  I won't beat the topic up further, but I wanted a full disclaimer that past items were never settled.  It's your hard work and determination bringing us here, and we do so feeling a bit of unease.

[2015-10-30 05:55] RebeccaDeField commented on #6
Since this is a separate project I agree that it would be best to keep the threads on topic.

I welcome anyone who is willing to contribute to this project, and as much as I would really love to get your help because of how skilled you are, if you don't like the way things are setup on this repo, it's completely your choice if you want contribute or not. That being said, I am not planning on chang

[2015-10-30 10:55] tresf commented on #6
:+1:

[2015-11-13 14:15] tresf commented on #4
Can you please clarify this task?

[2015-11-13 14:39] tresf commented on #3
@RebeccaDeField I'm with @Umcaruje here.  Which property are you using which is causing the described problem?  If you tell us that, it will help us figure out why they're linked and then we can propose a code solution upstream.

[2015-11-13 15:48] tresf commented on #2
@RebeccaDeField Please change the tile to "Song Editor Grid" to be more specific.

I can confirm that this embossed stroke is draw programatically.  The offending line(s) are here:

https://github.com/LMMS/lmms/blob/master/src/core/Track.cpp#L1043:L1047

Offending lines:

[code]

Removing this makes the grid all-but disappear since it then becomes gray on black, so this isn't recommended.

Unfortu

[2015-11-13 16:27] tresf commented on #1
I believe the proper way to do this is to set a `QSizePolicy::Fixed` for our Beat/Bassline buttons.

The [buttons appear to be `QPixmap`](https://github.com/LMMS/lmms/blob/master/src/tracks/Pattern.cpp#L673) (not QWidget) so I'm not sure exactly where we'd set this...
We also need to make sure the track itself stretches with the BBEditor.

**Edit:** This seems to be done manually in the paint func

[2015-11-13 18:25] tresf commented on #2
Since the codebase already had most of the work done, I decided to go ahead and tackle this here.  Feedback needed prior to merging: https://github.com/LMMS/lmms/pull/2442

| Before | After |
| --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/6345473/11150002/94a1237e-89f3-11e5-8073-30c0dd6080ee.png) | ![image](https://cloud.githubusercontent.com/assets/6345473/11153772/36cf18b2-8

[2015-11-13 18:26] tresf commented on #2
here: https://github.com/LMMS/lmms/pull/2442

[2015-11-13 18:58] michaelgregorius commented on #2
@tresf The pull request looks good to me!

I think we should even consider removing the gradient from the grid because to me it does not really communicate that you can put something in there because it "bulges out". An alternative might be to attach the grid elements to a CSS style as well (in case they are not already). That way you could have flat themes, round themes, etc. What do you think?

[2015-11-13 22:21] tresf commented on #2
@michaelgregorius done via https://github.com/LMMS/lmms/commit/2869d53fec469024587d0641f183d142ca8f0e78

The thin white emboss line would be lost with the original commit, but the gradient was pure CSS in this case (no C++ changes), so we should be safe without code changes (in regards to the bulge-ness) so as long as we're ok loosing the thin white line emboss.  I can always code the thin white l

[2015-11-13 22:21] tresf commented on #2
![image](https://cloud.githubusercontent.com/assets/6345473/11159072/91e75856-8a2a-11e5-9f27-0bf149e3873b.png)

[2015-11-13 23:03] Umcaruje commented on #2
Well, if we are doing this, the patterns should be also gradient-less as well as the toolbars, imho.

[2015-11-14 02:25] tresf commented on #2
Fair enough.  Emboss is back via https://github.com/tresf/lmms/commit/aaa798c746023fa978ae1d30839191dc4d95c257.  This isn't about fixing `default`, it's about removing hard-coded values.  Once the build is finished, I'll post a screenshot and merge.

[2015-11-14 02:45] tresf commented on #2
Ok, here's the preview.  Merging.

![image](https://cloud.githubusercontent.com/assets/6345473/11161614/b74193ee-8a4f-11e5-8817-1a9c8383a2ab.png)

[2015-11-14 02:48] tresf commented on #2
@RebeccaDeField, merged. Please close this issue at your leisure (or have @HDDigitizerMusic grant us access to do so)

This is now fully functional on master branch via:

[code]

[2015-11-14 04:18] tresf commented on #6
@RebeccaDeField here are my findings.

@michaelgregorius @Umcaruje @StakeoutPunch a spot-check is greatly appreciated.

Some special considerations:
- Some of these were tricky because they use counters or dynamic filenames such as `knob01` and `note_tripletquarter`.
- Some pixmaps are only used for plugins and some are used by multiple plugins.  It's arguable that they should be moved or cloned i

[2015-11-14 18:53] tresf commented on #1
I've started (and possibly finished) this.  Pull request is open here https://github.com/LMMS/lmms/pull/2443

**Before:**

**After:**

The only code that was changed was the removal of the manual scaling logic in the `paintEvent` function.

@michaelgregorius @Umcaruje @StakeoutPunch feedback appreciated.

[2015-11-15 10:11] michaelgregorius commented on #1
@tresf I have cloned your repository and played with the branch and everything looks good to me.

One minor nitpick that I have noticed: Elements can also be activated by clicking into the spacing between two elements which in my opinion is good because you do not have to hunt exactly for the spot to click on. However, due to the way they are painted you will always toggle the element left of the

[2015-11-15 10:25] michaelgregorius commented on #6
Here is an overview of all the pixmaps that are marked as unused above:

| Name | Icon |
| --- | --- |
| drum | ![drum](https://cloud.githubusercontent.com/assets/9293269/11168298/390b376e-8b8a-11e5-998a-54c416a46748.png) |
| freeze | ![freeze](https://cloud.githubusercontent.com/assets/9293269/11168300/5277ab92-8b8a-11e5-92a6-bbb24875f971.png) |
| frozen | ![frozen](https://cloud.githubuserconten

[2015-11-15 15:35] tresf commented on #1
Hmm... reminds me slightly of this fix https://github.com/LMMS/lmms/commit/1826ced3d297374159cf48a2b29cd89bc90670e6

Thanks for the review.  Unfortunately, feedback on freenode and in the PR haven't been as positive.  @Spekular and @grejppi have raised some valid points which are making me feel this fix is NOT worth merging.  The issue is that the BBEditor having a "fixed" size where all patters s

[2015-11-15 22:51] RebeccaDeField commented on #6
Thank you for such comprehensive work! :+1:

I will delete these on this fork. We should probably delete them from the `default` theme as well.

[2015-11-16 00:56] tresf commented on #6
We can cherry-pick the commit once you've completed it, just file a bug upstream and we'll pull the changes in.  Alternately we can do them manually, but it is important that a change like this makes it upstream. :+1:

[2015-11-16 02:22] RebeccaDeField commented on #1
If I'm understanding you correctly, it seems like the ideas we've come up with so would take too long to implement to justify doing right now. I can see us doing something more advanced down the road, but for the time being I want to try to come up with something simple.

What would the Beat and Bassline editor ideally look/work like? Maybe after we have that established, we can then come up with

[2015-11-17 01:49] tresf commented on #1
@RebeccaDeField yes I think you wrapped it up correctly.

We're still trying to determine what it **should** work like... I think ideally, the patterns would all grow and shrink together (something I'm trying to tackle right now).  Then perhaps a way to prevent squishing the steps smaller than their natural size.   I'll keep you posted as to my progress.  This code is all over the place, so this i

[2015-11-19 00:39] RebeccaDeField commented on #5
@Umcaruje I added it to the main issue tracker. Would it work best if I close this issue here now or...?

[2015-11-19 00:40] RebeccaDeField commented on #1
Cool, it sounds like we're both on the same page. Do keep me posted on what you come up with and let me know if you need my input. I'm willing to redesign the bbeditor on this theme to fit for whatever we come up with so that this doesn't become too much work for whoever is involved.

[2015-11-19 00:42] RebeccaDeField commented on #4
I already talked to @HDDigitizerMusic about it and he made the changes. It will be in the next comit.

[2015-11-19 02:38] tresf commented on #4
@RebeccaDeField great, but it would be nice to understand the task so that we can understand how it fits into the project.

[2015-11-19 03:58] RebeccaDeField commented on #4
@tresf Someone mentioned that we had the wrong color for the automation tracks and the notes in the piano roll. In some wiki articles the color is referenced in the tutorial, so to avoid confusion we switched the colors back.

It might even be useful for someone to list all colors that have any significance in the theme besides the piano roll and automation tracks (if any), to insure that everythi

[2015-11-19 04:00] RebeccaDeField commented on #2
close #2

[2015-11-19 04:20] RebeccaDeField commented on #3
Okay, so I did a bit of examining to find the code that was effecting the menu/knobs. It's under the LmmsPalette section.

[code]

So it seems like the knob LED is linked to the menu text color, whereas I thought it was the other way around. We will need to just asign a seperate color for the knobs and I will change the text color back to white.

![text](https://cloud.githubusercontent.com/assets/

[2015-11-19 06:16] tresf commented on #3
Thanks @RebeccaDeField.

I spent quite a while trying to track down the cause of this and this is what I found.... (C++ stuff)
- In order to use `Q_PROPERTIES` for custom stylesheets, your class needs to [inherit `QObject` and  also call the `Q_OBJECT` macro](http://doc.qt.io/qt-5/properties.html)
- The class which contains the track `VOL` and `PAN` knobs are (I think) contained in [`trackSettings

[2015-11-19 06:33] tresf commented on #4
Thanks for explaining.  I'd ask you to tag @Umcaruje to make sure we aren't sacrificing design over documentation.  If a tutorial says "click the black knob", we can just as easily change it to "click the knob". :)

[2015-11-19 06:53] RebeccaDeField commented on #4
@tresf I agree. :+1:

We only switched the blue and the green within the Modern Theme color palette. I thought that if making a tweak to the colors was important to @musikBear and didn't affect my design, that it wouldn't hurt.

As for the other colors, what I meant was that we would only need to make a change if there was a significant meaning/reason behind it being there.

I'm tagging @Umcaruje

[2015-11-19 15:51] StakeoutPunch commented on #1
If I understand this correctly, this would mean that step sizes are all uniform and stay aligned with each other?

[2015-11-19 16:25] tresf commented on #1
Ideally, yes.  Any pattern would have to stretch the entire BBEditor, grow in width (steps or whatever) to match the rest, including PianoRoll segments.

[2015-11-19 16:38] tresf commented on #1
* grow in width (steps or whatever) to match the rest, including PianoRoll segments.

[2015-11-22 13:12] Umcaruje commented on #5
Yeah, this can be closed, since this is a general issue, and not a specific theme one.

[2015-11-22 13:16] Umcaruje commented on #4
The documentation is already quite outdated tbh, so you shouldn't really pay that much attention to it. I'd rather change the docs, then sacrifice a good color scheme because of them.

Also the quality control on our docs is pretty low, so it really needs a complete rehaul, but that's for another issue.

[2015-11-22 20:30] RebeccaDeField commented on #4
@Umcaruje Sounds good. Thanks for the info. :)

[2015-11-22 22:47] Umcaruje commented on #6
I'm against removing the `stepper-down-press` icon, since if `stepper-down` is used somewhere, `stepper-down-press` should be used when that button is clicked.

[2015-11-22 23:59] RebeccaDeField commented on #6
@Umcaruje I have no problem with keeping that one if you feel that it is important.

[2015-11-24 02:38] #6 closed, assigned to nobody

[2015-11-24 02:48] #4 closed, assigned to HDDigitizerMusic

[2015-11-26 19:19] michaelgregorius commented on #3
@tresf I had a look at the code. I don't know whether I interpret your findings correctly.

To make things more clear I have first removed the `typedef` for `trackSettingsWidget` and replaced the two occurrences with `QWidget`. The knobs in question (created in `InstrumentTrackView::InstrumentTrackView`) have `m_trackSettingsWidget` set as their parent which in turn is a bland `QObject`. The paren

[2015-11-27 00:08] tresf commented on #3
From my studies, Knob was taking on properties properly in our plugins as a member variable of its parent object.

I think your questions are around class inheritance. I think I accidentally suggested this with the word "parent", but perhaps "owner" or "instantiator" would have been a better description.

All speculative though... I'm not very familiar with this, personally.

[2015-12-01 00:08] RebeccaDeField opened #7 "Change Button Style"
The spacing is off on the buttons.

[2015-12-01 06:19] #5 closed, assigned to nobody

[2015-12-11 00:27] RebeccaDeField opened #8 "Remove Track Fade"
When you add colors to tracks in the code, it automatically adds a black fade overlay on the bottom. @HDDigitizerMusic and I would like to remove it, but we do not see where/how.

![unnamed2](https://cloud.githubusercontent.com/assets/7960169/11732533/f537d4aa-9f59-11e5-8e62-2e5d2805f857.png)

I've @mentioned the coders that have volunteered to assist with coding for this theme. I know you're all

[2015-12-11 01:40] tresf commented on #8
Appears to be hard-coded here: [`src/gui/AutomationPatternView.cpp#L319:L323`](https://github.com/LMMS/lmms/blob/master/src/gui/AutomationPatternView.cpp#L319:L323).

This could be tackled a similar way as the grid enhancement, by adding custom qproperty tags.  Example commit here:  https://github.com/LMMS/lmms/commit/aaa798c746023fa978ae1d30839191dc4d95c257

[2015-12-25 03:30] RebeccaDeField commented on #7
Actually, I think Digitizer and I have gotten the spacing figured out. I won't be needing this issue anymore.

[2015-12-25 03:30] #7 closed, assigned to nobody

[2016-01-04 00:03] #2 closed, assigned to nobody

[2016-01-11 03:25] RebeccaDeField opened #9 "Change Stroke Color On FX Mixer"
@HDDigitizerMusic and I believe that the stroke style and color may be another hard coded element. We would like to make changes to it, but will need the hard coding to be removed first.

![stroke](https://cloud.githubusercontent.com/assets/7960169/12226402/488cdc0c-b7d0-11e5-9124-6925ce017917.png)

[2016-01-11 05:52] RebeccaDeField opened #10 "Fix Extra Space Bellow Sidebar Titles"
I'm having trouble with the spacing on the sidebar. I feel like it should be pretty simple but I haven't been able to get it to work. If someone could give it a shot that would be much appriciated.

![space](https://cloud.githubusercontent.com/assets/7960169/12227495/5cf64e32-b7e2-11e5-9eec-9c7d5507acf5.png)

[2016-01-11 06:06] RebeccaDeField opened #11 "Scroll Bar Issue"
All of the scroll bars are acting/looking just like Digitizer and I want, except for some reason the scroll bars in the Automation Editor and Piano Roll are wider and slightly overlap. I'm not sure why this is happening.

![goodscrollbar](https://cloud.githubusercontent.com/assets/7960169/12227713/c8e22758-b7e5-11e5-9e94-443800a1b9ba.png)
What the scroll bar is supposed to look like.

![ec53e15b-c

[2016-01-11 07:01] RebeccaDeField opened #12 "Change Gray BG For Instruments In Sidebar"
Digitizer and I can't seem to find the where change the currently gray background for instruments in the sidebar. This may be another hard coded element.

![instruments](https://cloud.githubusercontent.com/assets/7960169/12228298/1b221106-b7ee-11e5-8c0f-a097fdceb3ef.png)

[2016-01-16 06:59] RebeccaDeField opened #13 "Change Spacing Hover On Right Click Dialog"
Digitizer and I think it would be nice to change the way that the right click dialog box looks. Right now when you hover over an item, the hover color only extends to the end of the elements. I would like it to expand to the edges, but was having some trouble getting it to work. Some assistance would be much appriciated!

![1](https://cloud.githubusercontent.com/assets/7960169/12371049/56f2510a-bb

[2016-01-23 04:23] zonkmachine commented on #12
Yes, It's an upstream issue: https://github.com/LMMS/lmms/issues/2329

[2016-01-24 04:13] RebeccaDeField commented on #12
@zonkmachine Glad to see that it's already being worked on, thanks!

[2016-01-24 04:13] #12 closed, assigned to nobody

[2016-01-25 00:00] zonkmachine commented on #8
@tresf I'm looking into this.

[2016-01-25 03:26] tresf commented on #8
@zonkmachine :+1:

[2016-01-25 19:46] zonkmachine commented on #8
![gradientsdefault](https://cloud.githubusercontent.com/assets/6368949/12560390/c2f42bbe-c39a-11e5-9126-75e7f6962e9a.png) ![gradients](https://cloud.githubusercontent.com/assets/6368949/12560411/e2236e0a-c39a-11e5-829d-87a4c1791b8b.png)
I've found all places where gradients are done and this is what it looks like when I just remove them.

Yes, that's the automation pattern. I've played with differ

[2016-01-25 20:15] tresf commented on #8
@zonkmachine Great findings.

My opinion from a code simplicity and re-usability perspective is that we treat all track gradients the same and adjust the underlying colors to work with it.  This may be pragmatic and not practical, but I think it would help us settle on a consistent track style moving forward and also help decisions down the road with the color-assignable tracks.

[2016-01-25 20:52] zonkmachine commented on #8
I agree. So, a worst case scenario that the gradient part should be able to handle would be from https://github.com/LMMS/lmms/blob/master/src/gui/AutomationPatternView.cpp#L319:L323
We can change lighter(150) for darker(~85) and maybe add a setting for gradientCenter() to end with something like this that could emulate all the former cases and some more:

[code]

I've never made a theme so I don't

[2016-01-26 01:56] RebeccaDeField commented on #8
From a design standpoint, I was planning on something with a similar aesthetic to the picture bellow (the picture is of tracks designed by someone else that I liked), but that would just be for the `Modern` theme, not necasarily for the `default`.
![fl12full_1](https://cloud.githubusercontent.com/assets/7960169/12570409/39b4c2fe-c38c-11e5-81da-dec79fcba0a1.jpg)

Overall, I agree with @tresf that t

[2016-02-04 23:04] Umcaruje commented on #11
Did you change the graphics for the scrollbar buttons and/or their margins in the CSS? That is probably the problem, since it looks ok in the default theme, no overlapping.

[2016-02-04 23:07] Umcaruje commented on #9
Please name the current CSS property that changes the mixer color.

[2016-02-04 23:13] Umcaruje commented on #13
Change line: https://github.com/LMMS/lmms/blob/master/data/themes/default/style.css#L79

To `margin: 3px 0px 3px 0px;`

That'll achieve the look you are looking for.

[2016-02-05 22:31] RebeccaDeField commented on #13
Thanks!

[2016-02-06 04:46] RebeccaDeField commented on #13
Thanks for the help. When I used the code you provided on the line that you specified, the elments became flush to the left.

[2016-02-06 05:19] RebeccaDeField commented on #9
The color of the inside of the element is edited under `FXLine`.

[2016-02-06 05:19] RebeccaDeField commented on #11
Yes, I did change the graphics and margins. All of the scrollbars in the entire program look fine with these margins and graphics except for in the Automation Editor and Piano Roll. I'm sure it's an error made somewhere, but I have been unable to locate it so far. I am continuing to search for the error, but I thought a more expirenced coder might have better luck.

[2016-02-06 10:08] Umcaruje commented on #13
could you commit so I see your `style.css`?

[2016-02-06 10:09] Umcaruje commented on #11
Ah, sorry I didn't see it was Piano Roll and Automation editor only. It overlaps in the master branch too.

I'll look into it.

[2016-02-06 19:38] RebeccaDeField commented on #11
@Umcaruje No problem. I didn't realize this was an error with the default theme as well. Thank you for your help with this.

[2016-02-07 00:05] Umcaruje commented on #9
Ok, I'm on it.

[2016-02-07 00:40] Umcaruje commented on #9
https://github.com/LMMS/lmms/pull/2547 Will allow you to change the stroke to the finest details ;)

[2016-02-07 01:37] RebeccaDeField commented on #9
Perfect, thank you :)

[2016-02-07 01:37] #9 closed, assigned to nobody

[2016-02-07 06:48] RebeccaDeField commented on #13
I'll be able to make a commit soon so that you can see the `style.css` file, but please note that I need to rebase my fork soon to pull in all of the recent changes made on the master branch.

There are still some things in progress and there will be some updates that are missing at the moment.

[2016-02-08 04:58] RebeccaDeField opened #14 "Remove Hard Coding From Knobs"
So the knobs in the program are hard coded to look the way they do. I don't have much of a problem with how they currently look, but I would need the hard coding to be removed in order to make them look like my intial concept.

If this is not an easy task, I can just come up with a different idea for how the knobs will look in this theme.

This might be related to this issue #3

[2016-02-08 05:45] RebeccaDeField commented on #13
@Umcaruje Just committed the `style.css` file. You should be able to see what I am currently working with.

[2016-02-08 05:59] RebeccaDeField commented on #1
@tresf @michaelgregorius  Now that I am revisiting this issue, I think it might be better suited on the main issue tracker. From what people have been saying, it seems like the current BB editor is not ideal, and it's more from a technical standpoint than just aesthetic.

Before doing anything, I'll wait for confirmation. I don't want to add another issue to the list without a good reason. ;)

[2016-02-08 05:59] #11 closed, assigned to nobody

[2016-02-10 20:49] Umcaruje commented on #14
Can you further explain how you want to change the look of the knobs please?

[2016-02-11 06:29] RebeccaDeField commented on #14
You can see my initial idea for the knobs here.
![knobs](https://cloud.githubusercontent.com/assets/7960169/12970546/ee6ce09a-d044-11e5-82a5-ad23eecb18ea.png)

Now that I am more familiar with the program, I am planning on doing something a little more simplified. You will notice that the background of this knob is black all around instead of the darker shade of green that is currently in place.

[2016-02-14 00:18] RebeccaDeField commented on #14
@Umcaruje I've been thinking about this and I am wondering if removing the hard coding will help with this #3 ?

If so, I might as well change the look of the knobs once done. If not, I will just come up with something different (it won't take much work on my end).

[2016-02-14 00:32] zonkmachine commented on #8
@RebeccaDeField Su-per-cool...
@Umcaruje Maybe this is an issue for you?

[2016-02-14 01:29] RebeccaDeField commented on #13
@Umcaruje just wanted to clarify few things:
1. This might be a good update for the default theme as well.
2. This is a low priority compared to other tasks, so no pressure.

[2016-02-14 10:12] Umcaruje commented on #8
Sure, I didn't tackle the issue because I thought you were working on it. I already had a concept for this in my head, so it shouldn't be too hard.

[2016-02-14 10:15] Umcaruje commented on #13
Sure, but this really can be solved by adding some padding, I just haven't had the time to look at it. I'll issue a PR to add this to the default theme when I get around to it.

[2016-02-14 10:45] Umcaruje commented on #13
@RebeccaDeField https://github.com/LMMS/lmms/pull/2567 here you go. It was just a matter of adjusting the padding of the `QMenu::item`

[2016-02-14 12:57] zonkmachine commented on #8
:+1:

[2016-02-14 19:04] RebeccaDeField commented on #13
Again, thank you! :+1:

I have noticed that you have been very active lately, completing many tasks that other people need help with. It is very appreciated.

[2016-02-14 19:04] #13 closed, assigned to nobody

[2016-02-14 19:09] Umcaruje commented on #13
Glad I could help :smiley:

[2016-02-14 23:26] Umcaruje commented on #8
So the way I wanna solve this is to add a boolean `qproperty-gradient` to the tcoviews. So, if you want your TCO's to have a gradient, you set it to `true`, and if you want them to have solid colors, you set it to `false`. Does that sound reasonable? That way we don't really have to tackle the problematic of multiple gradients.

[2016-02-15 01:40] RebeccaDeField commented on #8
@Umcaruje Would it be possible for me to make the tracks slightly transparent with that setup or just flat/solid?

[2016-02-15 22:56] Umcaruje commented on #8
@RebeccaDeField When I set  a transparent color for a TCO, I get a glitched pattern, because there isn't anything drawn under the TCO:
![screenshot from 2016-02-15 23 36 50](https://cloud.githubusercontent.com/assets/6282045/13062494/665de182-d43f-11e5-8781-c673d27f552e.png)
I don't know if TCO's are `QWidgets`, but I guess not, since these support transparency.

Anyways, I'll look into that somew

[2016-02-15 23:11] RebeccaDeField commented on #8
@Umcaruje That makes sense. Thank you for trying for me. In that case, I will just come up with another idea for the look of the tracks based on the capabilities now currently available. I did not have my mind set on anything, so this won't be much of an issue.

[2016-02-15 23:14] Umcaruje commented on #8
Ok, well anything is possible. I'm done with the gradients, and now am adding custom properties for the color of muted tracks as well as the selected ones. If you need anything else themeable, let me know.

[2016-02-15 23:20] RebeccaDeField commented on #8
@Umcaruje I understand anything is _possible_, but I don't want to take coders away from important tasks just because the first design idea that came to mind was difficult when I could easily come up with something else. I hope that makes sense.

Thanks, will do :)

[2016-02-16 22:37] Umcaruje commented on #8
@RebeccaDeField @tresf @zonkmachine PR https://github.com/LMMS/lmms/pull/2574 should fix this. Comments and review welcome.

[2016-02-16 23:32] #8 closed, assigned to nobody

[2016-02-19 19:04] RebeccaDeField opened #15 "Change contrast"
Make the greys lighter. Make sure that all knobs and very readable. Experiment with off-white text.

budislav: Increase brightness for 20 and decrease contrast to -50.

[2016-02-19 19:10] RebeccaDeField opened #16 "Update The Icons"
Please see the discussion and updates bellow. Somehow I lost the original description for this issue :P

[2016-02-19 19:12] RebeccaDeField opened #17 "Increase the pixel width of the number digits"
Try increasing to 2px and see how if looks.

[2016-02-19 20:18] Umcaruje commented on #16
I think he was talking about the controller icon (midi icon)

[2016-02-19 20:25] RebeccaDeField commented on #16
@Umcaruje I see, thanks. :)

[2016-02-21 05:58] RebeccaDeField commented on #17
@midi-pascal I increased the width of the numbers as requested. Is this more readable to you?

![lcd_19green](https://cloud.githubusercontent.com/assets/7960169/13201244/195053f2-d81d-11e5-90d3-0e16a04d4493.png)

[2016-02-21 06:07] RebeccaDeField opened #18 "Update the BBeditor"
Try decreasing the border width.

[2016-02-21 06:39] RebeccaDeField commented on #18
As per @IvanMaldonado and @Spekular. I created more contrast between the steps and decreased the border width. I'm still unsure about the width of the border, but I have not yet decided. Please take a look and let me what you think.
![bbeditor](https://cloud.githubusercontent.com/assets/7960169/13201365/e170bf0c-d822-11e5-88bb-463914a1a028.png)

[2016-02-21 10:12] Spekular commented on #18
These borders look good to me! It's awesome how fast you respond tp
feedback :)

[2016-02-21 11:57] midi-pascal commented on #17
Wow! This is perfect :100:

[2016-02-21 12:19] Umcaruje commented on #17
:+1: from me too

[2016-02-21 19:58] RebeccaDeField commented on #17
Glad to hear it!

[2016-02-21 19:59] #17 closed, assigned to RebeccaDeField

[2016-02-21 20:01] RebeccaDeField commented on #18
Perfect.

Thank you, I try :) Sometimes I can't respond as fast, but it really just depends on how busy I am.

[2016-02-22 01:16] IvanMaldonado commented on #18
The contrast is clear to me now, thanks!
Also, I think the new border width makes them look much better :+1:

[2016-02-22 02:18] #18 closed, assigned to nobody

[2016-02-22 15:03] DeRobyJ commented on #16
Tried something, but I'm the worst at drawing :(

![step_btn_add](https://cloud.githubusercontent.com/assets/6437521/13221796/6b957ad2-d97d-11e5-8596-badcdbcba87d.png) < [add] click the invisible icon
![step_btn_remove](https://cloud.githubusercontent.com/assets/6437521/13221797/6b9a4c60-d97d-11e5-8861-83a183be112c.png) < [remove]
![step_btn_duplicate](https://cloud.githubusercontent.com/assets/64

[2016-02-22 15:07] Umcaruje commented on #16
@DeRobyJ The icons are invisible, since they are white...

[2016-02-22 15:14] DeRobyJ commented on #16
Well you could have downloaded them :v

here they are onto black
![icons](https://cloud.githubusercontent.com/assets/6437521/13222223/50d377ba-d97f-11e5-8688-1ab5797368b8.png)

[2016-02-23 07:01] RebeccaDeField commented on #16
Great ideas! I updated the icons based on your feedback and concepts. Does this make more sense?

![stepicons](https://cloud.githubusercontent.com/assets/7960169/13244048/211cb764-d9b8-11e5-9649-53519fbe0820.png)

[2016-02-23 07:40] DeRobyJ commented on #16
It does!
But don't you think the plus and the minus should go to the block actually created/deleted, the one on the right?

Like them :)

[2016-02-23 19:43] RebeccaDeField commented on #16
Like so?
![stepicons](https://cloud.githubusercontent.com/assets/7960169/13264358/9de1fca4-da22-11e5-90ee-b865c0083a34.png)

[2016-02-23 19:44] DeRobyJ commented on #16
Yep :v:

[2016-02-26 03:21] RebeccaDeField commented on #16
@IvanMaldonado I have made some tweaks to the gear icon. Does this look more gear, less flower?
![gear](https://cloud.githubusercontent.com/assets/7960169/13342289/f53457f8-dbf4-11e5-81c1-1d412d036384.png)

Can you also give me some examples of what you would like the controller icon to look like? I based it off of the default icon, but I am very open to new ideas.

[2016-02-29 00:40] IvanMaldonado commented on #16
Sorry, I was on a trip.

@RebeccaDeField Looks much more like a gear :+1:

I have to say I made a terrible mistake with the controller icon, I thought of it as a midi controller.
I don't understand how the original icon resembles a control though, but this is something out of my concern.

[2016-02-29 06:06] RebeccaDeField commented on #16
No problem! I hope you enjoyed your trip :)

Good to hear. :D

Also no problem on the controller icon, there are many icons and I can see how it can get confusing.

I believe that it is supposed to look like the knob moving from one side to another. Here is one idea that I have been thinking about.

![controller](https://cloud.githubusercontent.com/assets/7960169/13386970/04e84578-de67-11e5-952d-6

[2016-02-29 13:33] DeRobyJ commented on #16
Nice knob, but I believe LMMS has two different knobs of different sizes, doesn't it?

If I get any new idea, I'll open an issue :+1:

[2016-02-29 15:14] Umcaruje commented on #16
Well, its ok as an icon, but I don't know how its gonna look compared to the other icons, because all of them are full-on white.

[2016-02-29 18:47] RebeccaDeField commented on #16
@DeRobyJ For the knobs, I already have a different design in mind (will post in another thread here.) This is an earlier idea for the controller icon that I thought _might_ work.

@Umcaruje Those were my thoughts exactly.

I'm not a producer so my question is: what comes to mind when you think of the controller and how can we use that metaphor to create an icon that makes sense to everyone?

[2016-02-29 19:10] tresf commented on #16
A robot. :smiling_imp:

[2016-03-03 01:28] RebeccaDeField commented on #14
@Umcaruje I did a ton of research on smaller yet stylized knobs and came to a new idea that I feel enhances the design. You can see my new concept below.

![knobidea](https://cloud.githubusercontent.com/assets/7960169/13481627/1c82e0a8-e09c-11e5-8868-908c046a9588.png)

What I ended up with is more flat and minimalistic. After comparing this design to what is currently in place, I realized that we

[2016-03-03 02:56] #15 closed, assigned to HDDigitizerMusic

[2016-03-03 02:56] RebeccaDeField opened #19 "Update Contrast"
Make the greys lighter. Make sure that all knobs and very readable. Experiment with off-white text.

[2016-03-03 03:14] RebeccaDeField commented on #19
I think that we have all agreed on decreasing the contrast for this theme.

I tweaked the colors and have come to what I think will be an improved palette based on everyone's feedback. Please take a look and let us know what you think :)

![backgrounds](https://cloud.githubusercontent.com/assets/7960169/13483646/2e0ccf1e-e0ab-11e5-802e-3c58fb01cac1.png)
I will be using the primary color for most o

[2016-03-03 03:36] tresf commented on #19
I'm quite fond of the last one there... :)

[2016-03-03 04:23] RebeccaDeField commented on #19
@tresf Glad to hear it :)

I just want to clarify that the image above is the entire palette for BGs. I will be using all three of the shades.

[2016-03-03 04:32] tresf commented on #19
@RebeccaDeField yes that was very clear. :+1:

[2016-03-03 11:22] budislav commented on #19
Last one is the best on my monitor.

[2016-03-03 11:27] Umcaruje opened #20 "Update the CSS and muted icon"
@RebeccaDeField now that my TCO refactoring is finished, I just wanted to note you on some CSS changes for the TCO's
- The vast majority of the properties has been consolidated into one block that applies to all patterns:

[code]
- `color` of the TCO's is now `background-color` and `qproperty-fgColor` is now `color`.
- the 'muted' pixmap is now displayed as 14x14, so it doesn't clash with the text

[2016-03-03 11:28] Umcaruje commented on #14
:+1:

[2016-03-03 18:55] #14 closed, assigned to nobody

[2016-03-03 19:00] RebeccaDeField commented on #20
Perfect, this is way more organized and simplified! Thank you for the info. I will let you know if I have any questions.

[2016-03-04 00:02] Umcaruje commented on #20
Ok, so I'll go under CSS changes by PR's:
- https://github.com/LMMS/lmms/pull/2554 added

[code]

to `AutomationEditor` and

[code]

to `PianoRoll`
- https://github.com/LMMS/lmms/pull/2547 added

[code]

to `FXLine`
- https://github.com/LMMS/lmms/pull/2547 added a whole new section:

[code]
- https://github.com/LMMS/lmms/pull/2540 added

[code]

to `PianoRoll`

Please note that all of these'll nee

[2016-03-05 03:47] RebeccaDeField commented on #1
I didn't receive a reply on this, so I went ahead and added the issue to the main issue tracker #2636

[2016-03-05 03:47] #1 closed, assigned to nobody

[2016-03-05 03:49] RebeccaDeField commented on #10
This is on hold atm and a low priority.

[2016-03-05 03:59] RebeccaDeField commented on #16
@DeRobyJ @budislav @LocoMatt @michaelgregorius @Umcaruje @IvanMaldonado @musikBear

Just want to check and see if anyone else has an opinion about this.

[2016-03-05 04:03] tresf commented on #16
My feedback has already been posted. :+1:

[2016-03-05 04:03] RebeccaDeField commented on #16
@tresf Whoops, didn't mean to mention you there again, sorry :P

[2016-03-05 10:32] budislav commented on #16
![knob](https://cloud.githubusercontent.com/assets/3619927/13547140/e32e956e-e2c5-11e5-9093-880a3a07c1d4.png)

[2016-03-06 19:34] michaelgregorius commented on #16
In lmms/#2528 it was [decided](https://github.com/LMMS/lmms/issues/2528#issuecomment-187602545) to use an ADSR icon for the modulation tab. So for consistency it might make sense to use that icon here as well.

[2016-03-06 19:40] tresf commented on #16
@michaelgregorius I think that was more visually around the envelope portion of things, not the LFO, etc.

[2016-03-06 19:45] michaelgregorius commented on #16
@tresf Then the ADSR icon won't be a good fit for the plugins either because the LFO is on the same tab as the ADSR.

[2016-03-06 19:47] tresf commented on #16
Nor will we have the HPF/LPF, et. al.  That doesn't make it bad at all IMO.  We've lived with the obsure "ENV/LFO" for years and it suffers translation problems.  To say ADSR "won't be good" I think is asking a bit much of a UI.

[2016-03-11 00:55] RebeccaDeField commented on #19
I have updated the palette according to the feedback I have received. I think this will be a good base for the lighter colors, but we might make some tweaks when it's in the program.

![backgrounds](https://cloud.githubusercontent.com/assets/7960169/13689826/aa855ba2-e6e0-11e5-9ca7-f025bf6ad9bc.png)

[2016-03-11 05:53] RebeccaDeField commented on #16
I did a bit of research into other LFO Controller icons and it seems to me that a sine wave might be a good solution.

Here is an example:
![sine](https://cloud.githubusercontent.com/assets/7960169/13694532/10d41aea-e70b-11e5-9ea0-a43a8ed766f8.png)

We could also always go with the knob as @budislav is saying. I'm not quite sure what @tresf has in mind with the robot, but [this](https://www.google

[2016-03-15 01:46] RebeccaDeField commented on #20
@Umcaruje I've finished the 14x14 muted icon. I will get to the other updates when I can :+1:

[2016-03-15 01:57] RebeccaDeField commented on #3
@michaelgregorius Is there any way that you could lend some assistance on this issue or is it a dead-end?

[2016-03-15 17:55] michaelgregorius commented on #3
@RebeccaDeField I had another look and the problem should be fixed with the pull request LMMS/lmms#2680. After this fix has been merged into master you should be able to style the lines of the knobs with the following style sheet snippet:

[code]

It seems that I have looked in the wrong direction during my previous investigations. The problem simply was that the knobs in the instrument and sample

[2016-03-15 20:13] RebeccaDeField commented on #3
@michaelgregorius Awesome, thanks!

I think this issue can be closed now?

[2016-03-15 20:35] michaelgregorius commented on #3
@RebeccaDeField I would keep this issue open until the pull request is merged into master and you have checked whether it works for you.

[2016-03-15 21:30] RebeccaDeField commented on #3
@michaelgregorius Sounds like a plan :)

[2016-03-17 01:58] RebeccaDeField commented on #16
I haven't received any feedback on my previous idea yet, so I'm just going to go with a simple knob icon for now as Budislav suggested until/unless we can decide on something more specific. :)

@tresf @budislav @Umcaruje

[2016-03-17 05:22] RebeccaDeField opened #21 "Make new changes to previously hard-coded elements"
I need to pull in new changes from upstream, update CSS and make new changes to previously hard-coded elements.

[2016-03-24 11:07] michaelgregorius commented on #3
@RebeccaDeField I have just merged the fix into master. You can now check if the fix works for you.

[2016-03-28 08:03] claell commented on #16
@RebeccaDeField I am not experienced at all with this, but I also agree that a wave might be better than a simple knob. You said that this icon is also used by other programs, so it looks good to me.

But as @michaelgregorius said it might be good to try to use a consistent icon. It seems that in #2528 a different icon is used for ENV/LFO, although I don't know, whether that is the same as a contr

[2016-03-28 17:50] RebeccaDeField commented on #16
@claell Thanks for the feedback! It is very helpful for me on when it comes to the aspects of producing that I know less about.

@tresf @budislav @michaelgregorius
Would love to know if the wave makes sense to you as well?

[2016-03-28 19:09] tresf commented on #16
I'm sorry if I wasn't clear.

In my opinion a sine wave is a bad representation of a controller rack or controller icon in general.  Per @budislav's feedback the fade-knob illustrate is more accurate to what the controller does.  The sine wave is used throughout the software to represent noise and sound generation, I'd rather it not used for a controller rack too.

Had I were deciding, I still thi

[2016-03-28 21:53] Umcaruje opened #22 "The FX mixer faders"
Ok, so in your current theme, the faders of the FX mixer look like this:
![screenshot from 2016-03-28 23 32 37](https://cloud.githubusercontent.com/assets/6282045/14090982/bcdc2a04-f53d-11e5-80a3-ec8c369bc7e7.png)

With those 2 thin lines representing the DB readout. Now, I'm sure this looks nice from a design perspective, but for producers, those readouts are a bit useless, since they are small,

[2016-03-28 21:58] StakeoutPunch commented on #22
![fader_background](https://cloud.githubusercontent.com/assets/6579031/14091478/201fea5c-f506-11e5-9477-4bef36aeaa2e.png)
![fader_leds](https://cloud.githubusercontent.com/assets/6579031/14091484/2adbe7f2-f506-11e5-99a1-d56a89272131.png)

Here are the two components of the mixer in the theme @Umcaruje is talking about.

[2016-03-29 00:11] RebeccaDeField commented on #22
Thanks for the valuable feedback! I'm on it :)

[2016-03-29 00:19] RebeccaDeField commented on #16
@tresf Makes more sense now, thanks for the example. The robot icon actually seems to make the most sense so far. I can go ahead with this idea as long as I can get some confirmation from a couple of other people in the LMMS team that it works for them. :)

@michaelgregorius @claell

[2016-03-29 10:59] claell commented on #16
@tresf So other programs don't use a wave icon for this? I don't really know, what a controller does, but a robot looks too geeky to me.

[2016-03-29 11:16] tresf commented on #16
Perhaps you should before weighing in on this topic.

[2016-03-29 12:12] claell commented on #16
https://lmms.io/wiki/index.php?title=Controller_Rack I read this now. Still I think a robot icon looks a bit too geeky and also fits more an automation option than a controller (at least how I understand a controller).

I understand the argumentation of @tresf that a wave is mostly used for a different purpose in the program. So it might be confusing. How do other programs handle this? Do they use

[2016-03-29 12:58] tresf commented on #16
According to @RebeccaDeField's research, https://github.com/HDDigitizerMusic/lmms-alt-theme/issues/16#issuecomment-195207643

You already said that.  The goal with constructive criticism is to be constructive, e.g. `construct`.  If you can't offer something to move forward, you should reconsider offering your opinion, or at least leave your opinion as a one-time read.  i.e. We heard you and no one

[2016-03-29 13:29] claell commented on #16
@tresf I meant whether they use the same icon for controller and

or use a different approach.

I wrote that I still think so, because my previous opinion was not based on knowing what a Controller does.

This seems to be the current icon:

![controller_rack_button_1 0 0](https://cloud.githubusercontent.com/assets/6171135/14109451/62cc27be-f5c2-11e5-9b34-77e148cde9cc.png)

So probably a knob is a

[2016-03-29 19:17] tresf commented on #16
Perhaps something that illustrates movement on the knob? (crude mock-up warning!)

![image](https://cloud.githubusercontent.com/assets/6345473/14120564/4ba80ad6-f5c1-11e5-8b5d-486bd2cab100.png)

[2016-03-30 07:22] claell commented on #16
Yes that is a good idea. I could also think of a sine wave on the knob to illustrate that the knob is controlled by the wave, but I don't know, whether the wave is big enough to be visible then and whether it makes sense or is rather irritating to the user.

[2016-03-31 04:16] RebeccaDeField commented on #16
I mocked up a ton of ideas and here are the ones that I liked the best...
![controller](https://cloud.githubusercontent.com/assets/7960169/14165366/110c955c-f6bd-11e5-9013-c64a48ad39be.png)

I'm leaning towards the second option. The two tone knob (icon 3-4) matches the rest of my icon-set because I have used some shaded flat elements in other icons, unlike the gradient that was in my previous kno

[2016-03-31 08:18] DeRobyJ commented on #16
Imho, having arrows in a window full of knobs will be confusing...
I'd probably stick with the third, while the first is maybe too basic.

Lol at the sixth xD

[2016-03-31 08:48] Umcaruje commented on #16
I like the 2nd and the 4th the best, but leaning towards the 2nd because of the contrast concerns. The 4th pic with a slightly higher opacity would be a winner for me.

[2016-03-31 14:29] DeRobyJ commented on #16
I agree that the 4th would be better than the second if the dark part were not so dark!

[2016-03-31 18:26] RebeccaDeField commented on #16
@DeRobyJ @Umcaruje Updated per feedback:
![controller](https://cloud.githubusercontent.com/assets/7960169/14186383/fc20f6d0-f732-11e5-917e-e31f12a9cc0d.png)

[2016-04-01 02:58] RebeccaDeField commented on #22
@Umcaruje Just read over the [LMMS#2672](https://github.com/LMMS/lmms/pull/2672) issue. It's easy enough that I'm going to update my design on this theme so that it is more usable for producers for the time being.

If we end up using CSS or perfecting the technical details I can just update/remove the graphics accordingly. :+1:

[2016-04-01 08:39] Umcaruje commented on #22
:+1:

[2016-04-02 02:41] RebeccaDeField commented on #22
My updated design:
![faderknob](https://cloud.githubusercontent.com/assets/7960169/14224010/ed6554dc-f841-11e5-9b85-4c7c0e0811e8.png)

Now that this design is more usable for producers, I think that we should close the issue here and continue any discussion about changing how the fader knobs work on the main issue tracker.

[2016-04-02 02:47] RebeccaDeField commented on #16
I think that the icon in the comment above is much clearer than my original design. I am going to use this for my theme.

Thank you for all of the ideas and feedback!

[2016-04-02 02:47] #16 closed, assigned to RebeccaDeField

[2016-04-03 19:00] #22 closed, assigned to RebeccaDeField

[2016-04-04 06:06] RebeccaDeField commented on #19
Alright, so I have decreased the contrast quite a bit and I like how things are looking. I've attached a screenshot with the updated colors.

![theme](https://cloud.githubusercontent.com/assets/7960169/14239911/46ccb4de-f9f5-11e5-9f91-ce278df9a849.png)

P.S. If anyone would like the contrast decreased further, this is something that can be done if/when the theme is moved into the PR.

[2016-04-04 06:06] #19 closed, assigned to nobody

[2016-04-05 13:57] StakeoutPunch commented on #22
@RebeccaDeField  Perfect!

[2016-04-05 18:45] RebeccaDeField commented on #22
@StakeoutPunch Thank you! We couldn't have done it without your contribution :) :+1:

[2016-05-02 21:56] Umcaruje commented on #19
I just have one problem: the song editor grid is too dark to me, and I find it hard to see the lines and distinguish between the lighter and darker shade, and I'd really like if that part of the theme gets lightened up a bit.

P.S. The title bar PR should get merged soon, so all that's left is that the CSS gets updated on your end, and you can proceed with the PR ;)

[2016-05-03 02:08] RebeccaDeField commented on #19
@Umcaruje Great observation. The colors for the song editor will be updated along with the other css updates so that we can move this into the PR.

P.S. I was really impressed with all of the hard work that everyone put into getting that wrapped up so quickly. I am in the process of updating the CSS as we speak (or type)

 I'm very excited at how fast things are progressing :smile:

[2016-05-10 01:53] RebeccaDeField commented on #3
@michaelgregorius Just tested this. Works perfectly!

[2016-05-10 01:53] #3 closed, assigned to nobody

[2016-05-10 02:01] RebeccaDeField commented on #10
@Umcaruje I used the sizes for the sidebar icons that you had used in your flat theme. It seems that these icons are too small and therefore adding the extra space below the title. Is this a problem that you ran into in your theme as well?

Thank you for your time in advance.

[2016-05-15 17:49] RebeccaDeField commented on #10
@Umcaruje Just wanted to follow up on my previous questions. Thank you :+1:

[2016-05-15 17:50] RebeccaDeField commented on #19
@Umcaruje Please see my newly coded up Song-Editor. Almost done with all of the other previously hard-coded elements as well. I will post more screenshots on the main issue tracker when it's ready :)

![shot-2016-05-15_10-39-44](https://cloud.githubusercontent.com/assets/7960169/15275799/06eec3d8-1a8a-11e6-8528-e04ddda28308.jpg)

Please note: the pressed buttons in this screenshot are not finished

[2016-05-15 18:24] Umcaruje commented on #10
Ah, sorry, I forgot to reply. The way I handled this is that I actually designed the icons in 16x16, but rendered them at double the scale, that is 32x32. This assures the icons will look crisp when downscaled, but also would enlarge nicely. You can achieve this by doubling the DPI in inkscape:
![screenshot from 2016-05-15 20 20 53](https://cloud.githubusercontent.com/assets/6282045/15275974/9e4a6

[2016-05-15 21:52] RebeccaDeField commented on #10
@Umcaruje Right, great idea! I had my DPI automatically set to 300 since I was working on some print materials at the time. I had manually reset for the icons because of that, which explains why mine is too small. Thanks for the heads up!

[2016-05-16 06:06] RebeccaDeField commented on #10
Fixed :)

[2016-05-16 06:06] #10 closed, assigned to nobody

[2016-05-16 12:15] DeRobyJ commented on #19
It's gorgeous!

[2016-05-17 18:10] Umcaruje commented on #19
@RebeccaDeField looks better, but I think an even brighter line would help, as well as some contrast between the sections, as you noted.

[2016-05-29 20:29] #20 closed, assigned to RebeccaDeField

[2016-05-30 01:37] RebeccaDeField commented on #19
@Umcaruje Just wanted to give you a heads up that I made the changes in your comment above. More screenshots will be in my pull request. :)

[2016-05-30 06:51] #21 closed, assigned to RebeccaDeField

[2016-05-30 14:00] Umcaruje commented on #19
:+1: